@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  --color-lime: #CBF281;
  --color-blue: #4731D3;
}

/* * {
  border: solid 1px black;
} */

body {
  min-height: 100vh;
}

.top-main {
  font-size: 24px;
}

.top-main h1 {
  font-size: 54px;
  font-weight: bolder;
}

.top-main2 {
  display: flex;
  margin: 0 auto;
  max-width: 950px;
  flex-direction: column;
}

.dm-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  position: relative;
}

.toggle-dm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dm-button-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dm-button {
  display: flex;
  gap: 70px;
  margin-left: auto;
  margin-top: 15px;
  font-size: 15px;
}

.main-container {
  display: flex;
  margin-top: 80px;
  margin-bottom: 120px;
  justify-content: space-between;
}

.main-container2 {
  display: flex;
  flex-direction: column;
  align-self:flex-end;
  max-width: 530px;
  max-height: 375px;
  gap: 25px;
}

.name {
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  margin-top: 40px;
}

.main-container img {
  border-radius: 18px;
  object-fit: cover;
}

.main-image {
  width: 350px;
  height: 375px;
  overflow: hidden;
}

.actual-button {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
}

.button-container {
  display: flex;
  gap: 20px;
}

.skills-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.skills {
  display: flex;
  margin: 0 auto;
  max-width: 950px;
  justify-content: space-between;
}

.skills h1 {
  font-size: 48px;
  font-weight: bolder;
}

.skills span {
  font-size: 24px;
  font-weight: 500;
}

.skill-icon {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 6px;
}

.skill-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 9rem;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.profile-section {
  display: flex;
  margin: 0 auto;
  max-width: 950px;
  flex-direction: column;
  justify-content: space-between;
}

.profile-section h1 {
  font-size: 48px;
  font-weight: bolder;
}

.profile-section h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 24px;
}

.profile2 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 25px;
}

.profile3 {
  display: flex;
  width: 280px;
  gap: 10px;
}

.image-profile img {
  width: 300px;
  height: 290px;
  border-radius: 10px;
  object-fit: cover;
}

.about-me {
  width: 300px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 20px;
}

.profile-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 150px;
}

.non-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects {
  display: flex;
  margin: 0 auto;
  max-width: 950px;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projects h1 {
  font-size: 48px;
  font-weight: bolder;
}

.project2 {
  display: flex;
}

.project2 h2 {
  font-size: 32px;
  font-weight: 700;
}

.project2 img {
  width: 360px;
  height: 360px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  object-fit: cover;
  object-position: 0;
  border-right: 1px solid #D2D2D2;
}

.actual-project {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding:30px;
}

.skill-container {
  display: flex;
  gap: 20px;
}

.project-skill {
  padding: 5px 18px;
  border-radius: 23px;
}

.project-links {
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  gap: 40px;
}

.footer-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-contains {
  display: flex;
  margin: 0 auto;
  max-width: 950px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.footer-contains h1 {
  font-size: 48px;
  font-weight: 700;
}

.footer-contains h2 {
  font-size: 24px;
  font-weight: 400;
  max-width: 440px;
}

.footer-contains p {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}

.footer-images {
  display: flex;
  gap: 20px;
}

.footer-img {
  width: 35px;
  height: 35px;
}